.page__movies{
    padding: 70px 70px 80px;
    background-color: var(--dark-color);
}

@media screen and (max-width: 1023px) {
    .page__movies {
        padding-top: 83px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .page__movies {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.movies__lists {
    list-style: none;
    padding: 0;
    padding-bottom: 80px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
    column-gap: 20px;
    row-gap: 31px;
}

@media screen and (max-width: 1023px) {
    .movies__lists {
        grid-template-columns: repeat(auto-fit, 339px);
        column-gap: 30px;
        row-gap: 35px
    }
}

@media screen and (max-width: 767px) {
    .movies__lists {
        grid-template-columns: repeat(auto-fit, 300px);
        column-gap: 30px;
        row-gap: 19px
    }
}
.movies__serch-error {
    text-align: center;
    color: var(--second-font-color);
    font-family: 'Inter';
}

.movies__more {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 320px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #424242;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Inter';
    line-height: normal;
    color: var(--main-font-color);
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .movies__more {
        width: 240px;
        height: 36px;
    }
}

.movies__more_hidden {
    visibility: hidden;
}
