.movies__card {
    width: 100%;
    background-color: #222222;
}

.movies__information {
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    margin: 0 12px 0 14px;  
}

.movies__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.movies__subtitle {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 500;
    color: var(--main-font-color);
    margin: 0 0 9px;
    overflow-x: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    line-height: normal;
}
.movies__image {
    width: 100%;
    min-height: 190px;
    max-height: 200px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.movies__duration {
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    color: var(--second-font-color);
}

.movies__save {
    width: 16px;
    height: 16px;
    margin-top: 14px;
    align-self: flex-start;
    border: none;
    background-color: transparent;
    background-position: -6px -3px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .3s linear;
    background-image: url(../../images/saveoff.svg);
}

.movies__save_active {
    background-image: url(../../images/save.svg);
}

.movies__save_type_delete {
    background-position: center;
    background-image: url(../../images/delete.svg);
}
@media screen and (max-width: 1023px) {
    .movies__text {
        max-width: 275px;
    }
    .movies__image {
        height: 190px;
    }
}

@media screen and (max-width: 767px) {
    .movies__text {
        max-width: 235px;
    }
    .movies__image {
        height: 163px;
    }
}
@media (hover: hover) and (pointer: fine) {
    .movies__save:hover {
        opacity: .7;
    }
}